<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css"/>
    <script src="./index.js"></script>
    <title>Guitar Studio</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar_left">Guitar Studio Website</div>
        <div class="navbar_right">
            <div class="navbar_item">Item1</div>
            <div class="navbar_item">Item2</div>
            <div class="navbar_item">Item3</div>
            <div class="navbar_item">Item4</div>
        </div>
        <div class="menu_icon">
            <img class="burger" onclick="openlist()"  src="./img/burger_menu_icon.png"/>  
        </div>  
        <div class="closelist">
            <div class="cosDiv" ><img class="cross" onclick="closelist()" src="./img/cross_icon.png"/></div>
            <div class="liIt"><span>Item 1</span></div>
            <div class="liIt"><span>Item 2</span></div>
            <div class="liIt"><span>Item 3</span></div>
            <div class="liIt"><span>Item 4</span></div>
        </div>        
    </div>
    <div class="title_block">
        <div class="title_text"><div>Welcome to MyHome</div></div>
    </div>
    <div class="main_content">
        <div class="img_block_content">
            <div class="img_block1">
                <img class="img1" src="./img/ele_guitar.jpg"/>
                <div class="img_block_text">Pormotion 1</div>
            </div>
            <div class="img_block1">
                <img class="img1" src="./img/ele_guitar.jpg"/>
                <div class="img_block_text">Pormotion 2</div> 
            </div>
            <div class="img_block2">
                <img class="img1" src="./img/ele_guitar.jpg"/>
                <div class="img_block_text">Pormotion 3</div>
            </div>
        </div>
        <div class="main_content_row">
            <div class="pic_part1">
                <img class="img_row_pic_item1" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text1"><span>Title 1</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part2">
                <img class="img_row_pic_item2" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text2"><span>Title 2</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part2">
                <img class="img_row_pic_item2" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text2"><span>Title 3</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part2">
                <img class="img_row_pic_item2" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text2"><span>Title 4</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part2">
                <img class="img_row_pic_item2" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text2"><span>Title 5</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part1">
                <img class="img_row_pic_item1" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text1"><span>Title 6</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part2">
                <img class="img_row_pic_item2" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text2"><span>Title 7</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part2">
                <img class="img_row_pic_item2" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text2"><span>Title 8</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part3">
                <img class="img_row_pic_item3" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text3"><span>Title 9</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
            <div class="pic_part3">
                <img class="img_row_pic_item3" src="./img/ele_guitar.jpg"/>
                <div class="img_row_pic_text3"><span>Title 10</span></div>
                <div class="star1"><img src="./img/star.png"></div>
            </div>
        </div>        
    </div>
</body>
</html>


